/* Styles for my Resume */

/* Set default fonts for body */
BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
    font-display: swap;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Name Styles */
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    /* Center div */
    margin: 0 auto;
}

/* Title Styles */
#title {
    color: #33485e;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Section Header Styles*/
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 70%;
    min-width: 300px;
}

/* Job Title Styles*/
.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

/* Job Org Styles*/
.organization {
    font-weight: 400;
    font-size: 1.25em;
}

/* Job Date Styles*/
.date {
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* List Item Styles*/
li {
    font-size: 1em;
}

/* Description Styles */
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
/*Contact Styles*/
.menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*Taget specific items for inline arrangement*/
.menu li{
    display:inline-block;
}

/* Education Styles */
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Skills List Styles */
#do{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Top Section Styles */
.top{
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}